@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap");
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes fixedHeader {
  0% {
    transform: translateY(-100%);
    opacity: .6; }
  100% {
    transform: translateY(0); } }

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  0% {
    opacity: 0.7; }
  100% {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 59.25%; } }
  @media only screen and (max-width: 62em) {
    html {
      font-size: 58.25%; } }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 85%; } }

body {
  font-family: 'Open Sans', sans-serif, Geneva, Arial;
  box-sizing: border-box; }

body.lock {
  overflow: hidden; }

::selection {
  background: rgba(59, 67, 76, 0.6);
  color: #ffffff; }

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.heading-1 {
  max-width: 67rem;
  display: inline-block;
  margin: 0 auto;
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff; }
  @media only screen and (max-width: 62em) {
    .heading-1 {
      font-size: 5rem; } }
  @media only screen and (max-width: 48em) {
    .heading-1 {
      font-size: 4rem; } }
  .heading-1--highlight {
    color: #f7600e; }

.heading-2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #3b434c; }
  .heading-2--white {
    color: #ffffff; }

.heading-3 {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #3b434c; }
  @media only screen and (max-width: 62em) {
    .heading-3 {
      font-size: 1.6rem; } }

.heading-4 {
  font-size: 1.5rem;
  color: #ffffff; }

.margin-bottom-small-1 {
  margin-bottom: 1rem; }

.margin-bottom-small-2 {
  margin-bottom: 1.5rem; }

.margin-bottom-small-3 {
  margin-bottom: 2rem; }

.margin-bottom-small-4 {
  margin-bottom: 2.5rem; }

.margin-bottom-small-5 {
  margin-bottom: 3rem; }

.margin-bottom-small-6 {
  margin-bottom: 3.5rem; }

.margin-bottom-medium-1 {
  margin-bottom: 4rem; }
  @media only screen and (max-width: 48em) {
    .margin-bottom-medium-1 {
      margin-bottom: 2rem; } }

.margin-bottom-medium-2 {
  margin-bottom: 4.5rem; }

.margin-bottom-medium-3 {
  margin-bottom: 5rem; }
  @media only screen and (max-width: 48em) {
    .margin-bottom-medium-3 {
      margin-bottom: 2.5rem; } }

.margin-bottom-medium-4 {
  margin-bottom: 5.5rem; }
  @media only screen and (max-width: 48em) {
    .margin-bottom-medium-4 {
      margin-bottom: 3rem; } }

.margin-bottom-medium-5 {
  margin-bottom: 6rem; }

.margin-bottom-medium-6 {
  margin-bottom: 6.5rem; }
  @media only screen and (max-width: 48em) {
    .margin-bottom-medium-6 {
      margin-bottom: 3.5rem; } }

.margin-bottom-big {
  margin-bottom: 7rem; }

.btn {
  font-size: 1.4rem;
  padding: 1.4rem 5.5rem;
  background-color: #f7600e;
  color: #ffffff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .4s; }
  .btn:not(:last-child) {
    margin-right: 1.5rem; }
    @media only screen and (max-width: 39.2em) {
      .btn:not(:last-child) {
        margin-right: .5rem; } }
  .btn--transparent {
    background-color: transparent;
    border: 1.5px solid #3b434c;
    padding: 1.28rem 3.9rem; }
  .btn--changed {
    margin-top: -2.38rem; }
  .btn--ajusted:not(:last-child) {
    margin-right: 19.8rem; }
    @media only screen and (max-width: 48em) {
      .btn--ajusted:not(:last-child) {
        margin-right: 0rem;
        margin-bottom: 2rem; } }
  .btn--white:link, .btn--white:visited {
    background-color: #ffffff;
    color: #f7600e;
    text-decoration: none;
    font-weight: 600; }
  .btn:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0 0.6rem 0rem rgba(0, 0, 0, 0.4); }
  .btn:focus {
    animation: pulse 1s ease-in-out infinite;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.7); }

.cards {
  position: relative; }
  .cards__body {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .cards__body {
        align-items: flex-start; } }
    @media only screen and (max-width: 62em) {
      .cards__body {
        flex-wrap: wrap; } }
  .cards__team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .4s;
    cursor: pointer; }
  .cards__photo {
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
    transition: all .3s ease; }
  .cards__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: grayscale(100%);
    opacity: .5;
    transition: all .3s ease; }
    @media only screen and (max-width: 48em) {
      .cards__content {
        filter: grayscale(0%);
        opacity: 1; } }
  .cards__info {
    max-width: 24rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: center; }
  .cards__slider-items {
    display: flex;
    justify-content: center;
    align-items: center; }
  .cards__team-member:hover {
    transform: scale(1.06); }
    @media only screen and (max-width: 62em) {
      .cards__team-member:hover {
        transform: scale(1); } }
  .cards__team-member:hover .cards__content {
    filter: grayscale(0);
    opacity: 1; }
  .cards__team-member:hover .cards__photo {
    border-bottom: 5px solid rgba(255, 119, 48, 0.8); }

.slider-2 {
  padding-top: 2rem;
  padding-bottom: 11rem; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 0 1.5rem; }
  @media only screen and (max-width: 48em) {
    .form {
      max-width: none;
      width: 100%; } }
  .form__group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%; }
    @media only screen and (max-width: 48em) {
      .form__group {
        flex-direction: column;
        align-items: baseline; } }
  .form__items {
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 48em) {
      .form__items {
        width: 100%;
        margin-bottom: 1rem; } }
    .form__items:not(:last-child) {
      margin-right: 1.7rem; }
      @media only screen and (max-width: 48em) {
        .form__items:not(:last-child) {
          margin-right: 0rem; } }
  .form__input {
    width: 28rem;
    border-radius: 1rem;
    padding: 1.4rem 0 1.4rem 1.4rem; }
    @media only screen and (max-width: 48em) {
      .form__input {
        width: 100%; } }
    .form__input::placeholder {
      font-family: inherit;
      font-size: 1.3rem;
      color: #3b434c; }
    .form__input--focused:focus:invalid {
      border: 3px solid rgba(255, 119, 48, 0.8); }
  .form__label {
    font-size: 1.3rem;
    font-weight: 700;
    color: #ffffff;
    margin-top: .8rem;
    margin-left: 1.6rem;
    transition: all .5s; }
  .form__comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    @media only screen and (max-width: 48em) {
      .form__comment {
        width: 100%; } }
  .form__textarea {
    width: 58rem;
    height: 15rem;
    padding: 1.4rem 0 1.4rem 1.4rem; }
    @media only screen and (max-width: 48em) {
      .form__textarea {
        width: 100%; } }
    .form__textarea::placeholder {
      font-family: inherit;
      font-size: 1.3rem;
      color: #3b434c; }
  .form__input:placeholder-shown + .form__label,
  .form__textarea:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__input, .form__textarea {
    cursor: pointer; }
  .form__input:focus:valid, .form__textarea:focus:valid {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
    border: 3px solid #90ee90;
    background-color: #d9d9d9;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 700; }
  .form__click {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    @media only screen and (max-width: 48em) {
      .form__click {
        flex-direction: column; } }
    .form__click:not(:last-child) {
      margin-left: 22.5rem; }
      @media only screen and (max-width: 48em) {
        .form__click:not(:last-child) {
          margin-left: 0rem; } }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .gallery__body {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .gallery__item {
    flex: 0 0 31%;
    position: relative;
    margin-right: 2rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 62em) {
      .gallery__item {
        flex: 1 0 47%; } }
    @media only screen and (max-width: 39.2em) {
      .gallery__item {
        flex: 1 0 100%;
        max-width: 100%;
        margin-right: 0rem; } }
  .gallery__img {
    max-width: 100%;
    height: auto;
    display: block; }
    @media only screen and (min-width: 100em) {
      .gallery__img {
        width: 100%; } }
    @media only screen and (max-width: 39.2em) {
      .gallery__img {
        width: 100%;
        max-width: 100%; } }
  .gallery__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(247, 96, 14, 0.9);
    transition: all .4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    @media only screen and (max-width: 48em) {
      .gallery__overlay {
        opacity: 1; } }
  .gallery__info {
    max-width: 25rem;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #ffffff; }
  .gallery__button {
    text-align: center; }
  .gallery__link:link, .gallery__link:visited {
    flex: 0 0 100%;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #3b434c;
    transform: translateX(-3%);
    margin-top: 6rem;
    padding: 1.5rem 4.5rem;
    border: 1px solid #3b434c;
    border-radius: 10px;
    transition: all .4s ease-in-out; }
  .gallery__item:hover > .gallery__overlay {
    opacity: 1;
    cursor: pointer; }
  .gallery__link:hover {
    background-color: #000000;
    color: #ffffff; }

.media-links__link:link, .media-links__link:visited {
  display: inline-block;
  position: relative;
  z-index: 1;
  height: 100%; }
  .media-links__link:link:not(:last-child), .media-links__link:visited:not(:last-child) {
    margin-right: 1.2rem; }

.media-links__span {
  display: inline-block;
  height: 100%;
  transition: all .4s; }
  .media-links__span:hover {
    transform: scale(1.2); }

.media-links__icon {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  z-index: -1; }
  .media-links__icon--sized {
    width: 3.2rem;
    height: 3.2rem; }
    .media-links__icon--sized:hover {
      transform: scale(1.4); }

.modal__body {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 100%;
  height: auto;
  transform: translate(-50%, -50%) scale(0);
  background-color: #d9d9d9;
  padding: 2rem 5rem;
  border-radius: 7px;
  transition: 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10; }
  @media only screen and (max-width: 39.2em) {
    .modal__body {
      width: 45rem;
      padding: 2rem 0; } }
  @media only screen and (max-width: 29.4em) {
    .modal__body {
      top: 55%;
      width: 85%;
      max-width: 100%;
      padding: 2rem 0; } }

.modal__close {
  position: absolute;
  top: -7%;
  right: -26%;
  font-size: 4rem;
  padding: 0rem 1.6rem;
  border-radius: 50%;
  background-color: #3b434c;
  color: #ffffff;
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.5);
  line-height: 1.4;
  cursor: pointer;
  transition: all .5s ease; }
  .modal__close:hover {
    transform: scale(1.1); }
  @media only screen and (max-width: 39.2em) {
    .modal__close {
      right: -21%; } }
  @media only screen and (max-width: 29.4em) {
    .modal__close {
      right: -5%;
      top: -13%; } }

.modal__img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 29.4em) {
    .modal__img {
      width: 85%; } }

.modal__img img {
  transition: all .1s ease; }
  @media only screen and (max-width: 29.4em) {
    .modal__img img {
      width: 100%; } }

.modal__img:hover img {
  transform: scale(1.1);
  cursor: pointer; }

.modal__content {
  text-align: center;
  padding-bottom: 1rem; }

.modal__text {
  font-size: 1.1rem;
  padding: 1.5rem 0;
  max-width: 36rem; }

.modal__button:link, .modal__button:visited {
  display: inline-block;
  text-decoration: none; }

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  transition: 200ms ease-in-out;
  z-index: 5;
  opacity: 0;
  visibility: hidden; }

.modal__overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  /*The pointer-events CSS property sets under what circumstances (if any) a particular graphic element can become the target of pointer events. */ }

.modal__body.active {
  transform: translate(-50%, -50%) scale(1); }

.sections-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer; }
  .sections-title::before {
    content: "";
    position: absolute;
    left: 44%;
    top: 26%;
    bottom: 0;
    right: 44%;
    width: 0;
    height: 3px;
    background-color: rgba(255, 119, 48, 0.8);
    transition: all .3s linear; }
  .sections-title:hover::before {
    width: 12%; }
    @media only screen and (max-width: 39.2em) {
      .sections-title:hover::before {
        width: 20%;
        left: 41%; } }
  .sections-title__name {
    font-size: 2.5rem;
    line-height: 3rem;
    text-transform: uppercase;
    color: #3b434c; }
    .sections-title__name--highlight {
      color: #f7600e; }
    .sections-title__name--white {
      color: #ffffff; }
  .sections-title__paragraph {
    max-width: 50.4rem;
    font-size: 1.3rem;
    line-height: 2.4rem; }
    .sections-title__paragraph--white {
      color: #ffffff; }

.slides {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0; }

.swiper-button-prev,
.swiper-button-next {
  font-size: .3rem;
  color: rgba(0, 0, 0, 0.4);
  transition: all .4s; }

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 3.5rem; }

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #000000;
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.5); }

.swiper-button-prev:active,
.swiper-button-next:active {
  color: #000000;
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.5); }

.swiper-button-next,
.swiper-button-prev {
  z-index: 2; }

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #3b434c; }

.swiper-button-prev {
  left: 27.3rem; }
  @media only screen and (max-width: 62em) {
    .swiper-button-prev {
      left: 12.5rem; } }
  @media only screen and (max-width: 48em) {
    .swiper-button-prev {
      left: 23.3rem; } }
  @media only screen and (max-width: 39.2em) {
    .swiper-button-prev {
      left: 2.8rem; } }

.swiper-button-next {
  right: 27.3rem; }
  @media only screen and (max-width: 62em) {
    .swiper-button-next {
      right: 12.3rem; } }
  @media only screen and (max-width: 48em) {
    .swiper-button-next {
      right: 23.3rem; } }
  @media only screen and (max-width: 39.2em) {
    .swiper-button-next {
      right: 2.8rem; } }

.contact {
  padding-top: 5.5rem;
  padding-bottom: 7.5rem;
  background: url(../img/bg-contact@3x.-small.png) center/cover no-repeat fixed; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 48em), (min-width: 122em) {
    .contact {
      background: url(../img/bg-contact@3x.png) center/cover no-repeat fixed; } }
  @media only screen and (max-width: 48em) {
    .contact {
      padding-top: 3.5rem;
      padding-bottom: 4.5rem; } }

.container {
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.5rem; }
  @media only screen and (min-width: 100em) {
    .container {
      max-width: 103rem; } }
  @media only screen and (min-width: 122em) {
    .container {
      max-width: 124rem; } }
  @media only screen and (max-width: 75em) {
    .container {
      max-width: 97rem; } }
  @media only screen and (max-width: 62em) {
    .container {
      max-width: 75rem; } }
  @media only screen and (max-width: 48em) {
    .container {
      max-width: none; } }

.copyright {
  padding: 3rem 0;
  background-color: #3b434c;
  position: relative; }
  @media only screen and (max-width: 48em) {
    .copyright {
      padding: 2rem 0; } }
  .copyright__body {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 48em) {
      .copyright__body {
        flex-direction: column;
        align-items: center; } }
  .copyright__year, .copyright__author {
    font-size: 1.3rem;
    color: #ffffff;
    text-transform: uppercase; }
    @media only screen and (max-width: 48em) {
      .copyright__year:not(:last-child), .copyright__author:not(:last-child) {
        margin-bottom: 1rem; } }
  .copyright__author--modified::after {
    content: ".";
    color: #f50202;
    margin-left: .3rem; }

.btn-top-scroll {
  display: inline-block;
  position: fixed;
  bottom: 4%;
  right: 1.2%;
  text-decoration: none;
  background-color: rgba(255, 119, 48, 0.8);
  color: #3b434c;
  border-radius: 50%;
  text-align: center;
  padding: .7rem 0.8rem;
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.5);
  animation: pulse 1s ease-out 1s infinite;
  opacity: 0;
  transition: opacity .6s  linear; }
  @media only screen and (max-width: 48em) {
    .btn-top-scroll {
      right: 3%; } }
  .btn-top-scroll__icon {
    height: 2.5rem;
    width: 2.5rem; }

.btn-top-scroll.is-visible {
  opacity: 1; }

.header {
  background: url(../img/bg-header-small.png) center/cover no-repeat fixed;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  position: relative; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 48em), (min-width: 122em) {
    .header {
      background: url(../img/bg-header.png) center/cover no-repeat fixed; } }
  @media only screen and (max-width: 62em) {
    .header {
      background: url(../img/bg-header-small.png) center/cover no-repeat; } }
  .header__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
  .header__paragraph {
    max-width: 54.5rem;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: #ffffff;
    padding-bottom: 3.5rem; }
    @media only screen and (max-width: 29.4em) {
      .header__paragraph {
        max-width: 41.5rem; } }
  .header__arrow-down {
    position: absolute;
    top: 92%;
    left: 48.6%;
    transform: translate(-50%, -50%);
    animation: pulse 1s ease-out 1s infinite; }
    @media only screen and (max-width: 48em) {
      .header__arrow-down {
        top: 85%;
        left: 47%; } }

.section-features {
  padding-top: 7.5rem;
  padding-bottom: 5.5rem; }
  @media only screen and (max-width: 48em) {
    .section-features {
      padding-top: 4.5rem;
      padding-bottom: 3.5rem; } }
  .section-features__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .section-features__icon {
    transition: all .2s ease; }
    .section-features__icon:hover {
      transform: scale(1.2);
      cursor: pointer; }
  .section-features__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 62em) {
      .section-features__content {
        flex: 0 1 40%; } }
    @media only screen and (max-width: 48em) {
      .section-features__content {
        flex: 0 1 100%; } }
    .section-features__content:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 62em) {
        .section-features__content:not(:last-child) {
          margin-right: 0rem;
          margin-bottom: 2rem; } }
  .section-features__info {
    width: 100%;
    max-width: 16.2rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #3b434c;
    letter-spacing: .1rem;
    text-align: center; }
    @media only screen and (max-width: 62em) {
      .section-features__info {
        max-width: 30rem; } }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 6rem;
  z-index: 3; }
  @media only screen and (max-width: 48em) {
    .navigation {
      padding: 2rem;
      background-color: rgba(59, 67, 76, 0.9); } }
  @media only screen and (max-width: 39.2em) {
    .navigation {
      padding: 2rem .3rem; } }
  .navigation__body {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navigation__logo {
    cursor: pointer;
    position: relative;
    z-index: 3;
    animation: swing 1s ease-out 1s 5; }
  .navigation__menu {
    cursor: pointer;
    position: relative;
    z-index: 5; }
  .navigation__title {
    font-size: 1.6rem;
    color: #ffffff;
    position: relative;
    z-index: 3;
    margin-right: 2rem; }
  .navigation__toggle {
    position: relative; }
    .navigation__toggle, .navigation__toggle::before, .navigation__toggle::after {
      width: 2.6rem;
      height: 3px;
      background-color: #ffffff;
      display: inline-block;
      position: relative;
      top: 0.9rem;
      left: 2rem; }
    .navigation__toggle::before, .navigation__toggle::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.4s ease; }
    .navigation__toggle::before {
      top: -.8rem; }
    .navigation__toggle::after {
      top: .8rem; }

.nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #5c6977;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 4;
  animation: fadeIn .4s ease;
  transition: all .4s ease;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll; }
  .nav__item {
    list-style: none;
    margin-bottom: 2rem;
    position: relative; }
    @media only screen and (max-width: 48em) {
      .nav__item {
        margin-bottom: 1.5rem; } }
  .nav__link:link, .nav__link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .8rem;
    padding: 1rem 2rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
    background-size: 225%;
    transition: all .5s; }
    .nav__link:link:hover, .nav__link:link:active, .nav__link:visited:hover, .nav__link:visited:active {
      background-position: 100%;
      transform: traslateX(1rem);
      color: #000000;
      font-weight: 600;
      transition: all .3s; }

.navigation.sticky {
  background-color: rgba(59, 67, 76, 0.9);
  padding-top: 0rem;
  padding: 2rem 2rem;
  transition: all .4s;
  animation: fixedHeader 1s ease; }
  @media only screen and (max-width: 29.4em) {
    .navigation.sticky {
      padding: 2rem .4rem; } }

.nav.show {
  opacity: 1;
  visibility: visible;
  top: 0; }

.navigation__toggle.active {
  background-color: transparent; }

.navigation__toggle.active:before {
  transform: rotate(135deg);
  top: 0; }

.navigation__toggle.active:after {
  transform: rotate(-135deg);
  top: 0; }

.section-product {
  padding-top: 5.5rem;
  padding-bottom: 7rem; }
  @media only screen and (max-width: 48em) {
    .section-product {
      padding-top: 3.5rem;
      padding-bottom: 4rem; } }

.review-section {
  padding: 6.5rem 0;
  background: url(../img/bg-review-small.png) center/cover no-repeat fixed;
  position: relative; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 48em), (min-width: 122em) {
    .review-section {
      background: url(../img/bg-review.png) center/cover no-repeat fixed; } }
  @media only screen and (max-width: 48em) {
    .review-section {
      padding: 3rem 0; } }
  .review-section__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .review-section__img-wrapper {
    overflow: hidden; }
  .review-section__img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: all .4s ease; }
    .review-section__img:hover {
      transform: scale(1.1);
      cursor: pointer; }
  .review-section__paragraph {
    max-width: 79.7rem;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff; }
    @media only screen and (max-width: 48em) {
      .review-section__paragraph {
        max-width: 23.7rem; } }
    .review-section__paragraph > * {
      display: block; }
  .review-section__icon {
    position: absolute;
    top: 50%;
    height: 3.2rem; }
    @media only screen and (max-width: 48em) {
      .review-section__icon {
        top: 58%;
        height: 4.5rem; } }
    .review-section__icon--left {
      right: 77%; }
      @media only screen and (max-width: 62em) {
        .review-section__icon--left {
          right: 85%; } }
    .review-section__icon--right {
      left: 77%; }
      @media only screen and (max-width: 62em) {
        .review-section__icon--right {
          left: 85%; } }

.section-subscribe {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background: url(../img/bg-subscribe-small.png) center/cover no-repeat fixed;
  width: 100%;
  max-width: 100%;
  height: 100%; }
  @media only screen and (max-width: 48em) {
    .section-subscribe {
      padding-top: 4rem;
      padding-bottom: 4rem; } }
  @media only screen and (max-width: 48em) {
    .section-subscribe__body {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: stretch;
      padding: 0 1.5rem; } }
  .section-subscribe__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%; }
    @media only screen and (max-width: 48em) {
      .section-subscribe__form {
        margin-right: 0;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: stretch; } }
  .section-subscribe__input {
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 48em) {
      .section-subscribe__input {
        width: 100%; } }
  .section-subscribe__email {
    width: 50rem;
    height: 4.7rem;
    font-size: 1.4rem;
    font-family: inherit;
    border-radius: 1rem;
    padding: 1.5rem 0 1.5rem 2rem;
    margin-right: 1.5rem; }
    @media only screen and (max-width: 48em) {
      .section-subscribe__email {
        width: 100%;
        margin-bottom: 1.5rem; } }
    .section-subscribe__email::placeholder {
      font-family: inherit;
      font-size: 1.3rem;
      color: #3b434c; }
    .section-subscribe__email:focus {
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
      border: 3px solid #90ee90;
      background-color: #d9d9d9;
      color: #000000;
      font-size: 1.2rem;
      font-weight: 700; }
    .section-subscribe__email:focus:invalid {
      border: 3px solid rgba(255, 119, 48, 0.8); }
  .section-subscribe__label {
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    color: #ffffff;
    margin-left: .7rem;
    margin-top: .7rem;
    transition: all .5s; }
  .section-subscribe__email:placeholder-shown + .section-subscribe__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.section-team {
  padding: 5.5rem 0; }
  @media only screen and (max-width: 48em) {
    .section-team {
      padding: 3.5rem 0; } }
  .section-team__body {
    display: flex;
    justify-content: center;
    align-items: center; }
  .section-team__team-member {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section-team__photo {
    max-width: 100%;
    height: auto;
    display: block; }
