.container {
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.5rem;
	
	@include respond(laptop-big) {
        max-width: 103rem;
    }

	 @include respond(laptop-huge) {
        max-width: 124rem;
    }

    @include respond(tab-land) {
        max-width: 97rem;
    }

    @include respond(tab-port) {
        max-width: 75rem;
    }


    @include respond(phone) {
        max-width: none;
    }
 
}
