.contact {
    padding-top: 5.5rem;
    padding-bottom: 7.5rem;
    background: url(../img/bg-contact@3x.-small.jpg) (center / cover) no-repeat fixed;

    @media only screen and (min-resolution: 192dpi) and (min-width: 48em), (min-width: 122em) {
        background: url(../img/bg-contact@3x.jpg) (center / cover) no-repeat fixed;
    }

    @include respond(phone) {
        padding-top: 3.5rem;
        padding-bottom: 4.5rem;
    }
}
