$color-primary: #3b434c;
$color-secondary: #ffffff;
$color-tertiary: #f7600e;
$color-black: #000000;

$color-light-green:#90ee90 ;
$color-light-grey: #d9d9d9;
$color-light-orange:rgba(255,119,48,0.8);;
$color-red: #f50202;

